{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "eslint:recommended",
    "next",
    "next/core-web-vitals",
    "prettier"
  ],
  "globals": {
    "React": true,
    "JSX": true,
    "context": true
  },
  "overrides": [
    {
      "files": ["*.ts"],
      "rules": {
        "no-undef": "off"
      }
    }
  ]
}
